.cuerpoExterior{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 18em;
    height: 29em;
    margin: 2em auto; /* centrado cuerpo exterior, con 2em margin-top*/
    background-color: rgb(75, 75, 215);
    border-top-left-radius: 1em 1em; /* curvatura linea inferior carcasa exterior */
    border-top-right-radius: 1em 1em; /* curvatura linea inferior carcasa exterior */
    border-bottom-left-radius: 15em 3em; /* curvatura linea inferior carcasa exterior */
    border-bottom-right-radius: 15em 3em; /* curvatura linea inferior carcasa exterior */
    box-shadow: 0.2em 0.2em 0.8em, -0.2em -0.2em 0.8em; /* sombra por los cuatro lados para el exterior*/
}
.marcoPantalla{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(33, 32, 32);
    width: 16em;
    height: 14em;
    border-top-left-radius: 1em 1em; /* curvatura linea inferior marco pantalla */
    border-top-right-radius: 1em 1em; /* curvatura linea inferior marco pantalla */
    border-bottom-left-radius: 15em 1em; /* curvatura linea inferior marco pantalla */
    border-bottom-right-radius: 15em 1em; /* curvatura linea inferior marco pantalla */
    margin: 1em;
    box-shadow: 0.2em 0.2em 0.4em, -0.2em -0.2em 0.4em; /* sombra por los cuatro lados*/
}
.positionLed{
    width: 15em;
    position: relative;
    top: 4em;
    left: 0.7em;
}
#led{
    background-color: rgb(150, 0, 0);
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
}
#led:hover{
    background-color: rgb(255, 0, 0);
}
.positionPower{
    width: 15em;
    position: relative;
    top: 4em;
    left: 0em;
}
.textoPower{
    font-size: 0.7em;
    font-family: 'Mukta';
    color: rgb(75, 75, 215, 0.5);
}
.pantalla{
    background-image: url(imagenes/displayOff.png);
    width: 10em;
    height: 9em;
    box-shadow: 0.1em 0.1em 0.2em inset, -0.1em -0.1em 0.2em inset; /* sombra interna en display*/
}
.pantalla:hover{
    background-image: url(imagenes/diplayOn.png);
    background-size: 100%;
}
.modeloColor{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    height: 2.5em;
    width: 9em;
}
.fontGameboy{
    display: flex;
    align-items: center;
    height: 2em;
    font-family: 'Mukta';
    color: rgb(95, 125, 140);
    font-weight: bold;
    font-size: large;
    font-style: italic;
}
.fontColor{
    display: flex;
    height: 2em;
    align-items: center;
    font-family: 'Gloria Hallelujah', cursive;
    font-weight: bold;
}
.azul{
    color: rgb(75, 75, 215);
}
#amarillo{
    color: yellow;
}
#verde{
    color: green;
}
#rojo{
    color: red;
}
.logoNintendo{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px inset rgb(0, 0, 255, 0.8); /* borde efecto hundido */
    border-radius: 1em;
    height: 1em;
    width: 5em;
    /* texto con efecto hundido */
    text-shadow: rgba(0,0,0,0.1) -1px 0, rgba(0,0,0,0.1) 0 -1px,
   rgba(255,255,255,0.1) 1px 0, rgba(255,255,255,0.1) 0 1px,
   rgba(0,0,0,0.1) -1px -1px, rgba(255,255,255,0.1) 1px 1px;
    /*--------------------------*/
    color: blue;
    font-family: 'Mukta';
    font-weight: bold;
}
.mandos{
    display: flex;
    flex-direction: row;
    width: 15em;
    height: 7em;
}
#mandoCruz{ /* segmento horizontal */
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(33, 32, 32);
    position: relative;
    top: 1.5em;
    height: 1.5em;
    width: 4em;
    border-radius: 0.2em;
    box-shadow: 0em 0em 0.2em; /*sombra del botón*/
    cursor: pointer; /* aparece la mano cuando pasa el ratón por el botón */
}
#mandoCruz:after{ /* segmento vertical */
    background: rgb(33, 32, 32);
    content: "";
    position: absolute;
    left: 1.25em;
    height: 4em;
    width: 1.5em;
    border-radius: 0.2em;
    box-shadow: 0em 0em 0.2em; /*sombra del botón*/
}
#trianguloUp{
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 12px solid rgb(53, 53, 53);
    position: relative;
    top: 8px;
    right: 38px;
}
#trianguloDown{
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 12px solid rgb(53, 53, 53);
    position: relative;
    top: 50px;
    right: 49px;
}
#trianguloLeft{
    width: 0;
    height: 0;
    border-left: 12px solid rgb(53, 53, 53);
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    position: relative;
    top: 30px;
    right: 38px;
}
#trianguloRight{
    width: 0;
    height: 0;
    border-right: 12px solid rgb(53, 53, 53);
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    position: relative;
    top: 30px;
    right: 95px;
}
#circuloCentral{
    width: 0.8em;
    height: 0.8em;
    border-radius: 50%;
    background-color:  rgb(53, 53, 53);
    position: relative;
    top: 30px;
    right: 85px;
}
.botonRedondo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5em;
    width: 2.5em;
    border-radius: 50%;
    background: rgb(33, 32, 32);
    color:  rgb(53, 53, 53);
    font-family: 'Mukta';
    box-shadow: 0.1em 0.1em 0.2em rgb(39, 38, 38), -0.1em -0.1em 0.2em rgb(39, 38, 38);/*sombra del botón*/
    cursor: pointer; /* aparece la mano cuando pasa el ratón por el botón*/
}
#posicionBotonB{
    position: relative;
    top: 2em;
    left: 3em;
}
#posicionBotonA{
    position: relative;
    top: 0.5em;
    left: 4em;
}
.botonesInferiores{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    width: 5em;
}
.botonEstirado{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 0.7em;
    width: 2em;
    background: rgb(33, 32, 32);
    border-radius: 1em;
    box-shadow: 0.1em 0.1em 0.2em black;/*sombra del botón*/
    cursor: pointer; /* aparece la mano cuando pasa el ratón por el botón*/
}
.textoBotonEstirado{
    font-size: 0.7em;
    font-family: 'Mukta';
    /* texto con efecto hundido */
    text-shadow: rgba(0,0,0,0.1) -1px 0, rgba(0,0,0,0.1) 0 -1px,
   rgba(255,255,255,0.1) 1px 0, rgba(255,255,255,0.1) 0 1px,
   rgba(0,0,0,0.1) -1px -1px, rgba(255,255,255,0.1) 1px 1px;
    /*--------------------------*/
    color: blue;
}
#altavoz{
    width: 4.5em;
    height: 4.5em;
    position: relative;
    top: -1em;
    left: 6.5em;
    transform:skew(0deg, -10deg)
}
#rejillaAltavoz{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
}
.puntoNegro{
    background-color: rgb(0, 0, 0, 0.9);
    width: 5px;
    height: 5px;
    border-radius: 50%;
    margin-top: 4px;
}
.puntoAzul{
    background-color: rgb(0, 0, 255, 0.4);
    width: 5px;
    height: 5px;
    border-radius: 50%;
    margin-top: 4px;
}
.puntoTransparente{
    background-color:  rgb(0, 0, 0, 0);
    width: 5px;
    height: 5px;
    border-radius: 50%;
}
/*efecto pulsador*/
.botonEstirado:active{
    transform: translateY(0.1em);
    box-shadow: 0em 0em 0em;
}
.botonRedondo:active{
    transform: translateY(0.1em);
    box-shadow: 0em 0em 0em;
}
#mandoCruz:active{
    transform: translateY(0.1em);
    box-shadow: 0em 0em 0em;
}