.cuerpoExterior{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid black;
    background: rgb(33, 10, 230);
    width: 23em;
    height: 35em;
    border-radius: 5%;
    padding: 1em;
}
.marcoPantalla{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: black;
    width: 20em;
    height: 18em;
    border-radius: 5%;
    padding: 1em;
}
.pantalla{
    background: grey;
    width: 15em;
    height: 15em;
}
.modeloColor{
    display: flex;
    flex-direction: row;
    color: white;
    font-family: trebuchet ms;
}
#azul{
    color: blue;
    font-style: italic;
}
#amarillo{
    color: yellow;
    font-style: italic;
}
#verde{
    color: green;
    font-style: italic;
}
#rojo{
    color: red;
    font-style: italic;
}
.logoNintendo{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid black;
    margin: 10px;
    border-radius: 1em;
    height: 1em;
    width: 5em;
    padding: 2px;
    font-family: Trebuchet MS;
}
.mandos{
    display: flex;
    flex-direction: row;
    margin: 1em
}
#mandoCruz{
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    height: 2em;
    position: relative;
    width: 6em;
    top: 1em;
    border-radius: 1em;
    box-shadow: 0em 0.3em grey; /*sombra del botón*/
    cursor: pointer; /* aparece la mano cuando pasa el ratón por el botón*/
}
#mandoCruz:after{
    background: black;
    content: "";
    height: 6em;
    position: absolute;
    width: 2em;
    left: 2em;
    border-radius:10em;
}
#vacio{
    width: 5em;
}
#botonRedondoB{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3em;
    width: 3em;
    background: black;
    border-radius: 50%;
    color: white;
    font-family: Trebuchet MS;
    margin: 1em;
    box-shadow: 0em 0.3em grey; /*sombra del botón*/
    cursor: pointer; /* aparece la mano cuando pasa el ratón por el botón*/
}
#botonRedondoA{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3em;
    width: 3em;
    position: relative;
    top: -2em;
    background: black;
    border-radius: 50%;
    color: white;
    font-family: Trebuchet MS;
    margin: 1em;
    box-shadow: 0em 0.3em grey; /*sombra del botón*/
    cursor: pointer; /* aparece la mano cuando pasa el ratón por el botón*/
}
.botonesInferiores{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#botonEstirado{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1em;
    width: 4em;
    background: black;
    border-radius: 25%;
    color: white;
    font-family: Trebuchet MS;
    margin: 2em;
    box-shadow: 0em 0.2em 0em grey; /*sombra del botón*/
    cursor: pointer; /* aparece la mano cuando pasa el ratón por el botón*/
}
/*efecto pulsador*/
#botonEstirado:active{
    transform: translateY(0.2em);
    box-shadow: 0em 0em 0em grey;
}
#botonRedondoB:active{
    transform: translateY(0.2em);
    box-shadow: 0em 0em 0em grey;
}
#botonRedondoA:active{
    transform: translateY(0.2em);
    box-shadow: 0em 0em 0em grey;
}
#mandoCruz:active{
    transform: translateY(0.2em);
    box-shadow: 0em 0em 0em grey;
}